:root {
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --background-color: #d8e9f3;
  --good-background: #bcfeb8;
  --good-color: #116a0b;
  --satisfactory-background: #bddd7e;
  --satisfactory-color: #4a6e02;
  --moderate-background: #ffff4d;
  --moderate-color: #838300;
  --poor-background: #e3b789;
  --poor-color: #854400;
  --vpoor-background: #e17529;
  --vpoor-color: #813500;
  --severe-background: #ff0000;
  --severe-color: #720101;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 1.6;
}
